.fileInput {
	width: 90%;
	display: flex;
	flex-direction: row;
	box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
	margin-top: 40px;
	height: 80vh;
	border-radius: 5px;
}

.left {
	display: flex;
	flex-direction: column;
	padding: 20px;
	border: 1px solid black;
	border-radius: 5px;
}

.left form {
	display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
	margin-bottom: 30px;
	height: 20%;
}

.left input {
	margin-bottom: 5px;
}

.btns {
	display: flex;
	flex-direction: row;
	justify-content: center;
	width: 250px;
	margin: 0 auto;
}

.btn {
	border: none;
	border-radius: 20px;
	color: white;
	background-color: black;
	width: 90px;
	height: 35px;
	cursor: pointer;
	transition: 0.2s ease-in all;
}

.btn:hover {
	opacity: 0.8;
	scale: 1.05;
}

.returnToParams {
	display: flex;
	justify-content: center;
}

.returnBtn {
	height: 50px;
	width: 150px;
	border: none;
	border-radius: 5px;
	color: white;
	background-color: black;
	cursor: pointer;
	transition: 0.2s ease-in all;
}

.returnBtn:hover {
	opacity: 0.8;
	scale: 1.03;
}

.left label {
	margin-bottom: 10px;
}

.selectedFiles {
	margin-bottom: 30px;
}

.selectedFiles h4 {
	margin-bottom: 7px;
}
