.fileInput {
  flex: 1;
  display: flex;
  color: white;
  align-items: center;
  flex-direction: column;
  width: 100% !important;
  justify-content: center;
  height: 70vh;
}

.fileInputWrapper {
  display: flex;
  height: 80%;
  width: 80%;
  flex-direction: row;
  overflow: hidden;
  border-radius: 5px;
  position: relative;
}

.left {
  display: flex;
  width: 15em;
  flex-direction: column;
  padding: 20px;
  border-radius: 5px 0px 0px 5px;
  background-color: #313131;
  height: 100%;
}

.left form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 30px;
  height: 50%;
}

.left input {
  margin-bottom: 5px;
}

.uploadFile {
  margin-bottom: 10px;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
  height: auto;
  background-color: #161616;
  font-size: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px 5px;
  word-break: normal;
}

input[type="file"] {
  display: none;
}

.uploadBtn {
  height: auto;
  padding: 10px 35px;
  border-radius: 20px;
  border: none;
  background-color: #161616;
  color: white;
  cursor: pointer;
}

.uploadFile:hover {
  opacity: 0.85;
}

.uploadBtn:hover {
  opacity: 0.85;
}

.right {
  flex: 1;
  padding: 20px;
  background-color: #525252;
  overflow: scroll;
  overflow-x: hidden;
  width: 100%;
}

.right::-webkit-scrollbar {
  width: 2px;
}

.right::-webkit-scrollbar-track {
  background-color: black;
}

.right::-webkit-scrollbar-thumb {
  background: darkgray;
  border-radius: 2px;
}

.selectedFiles {
  text-align: center;
  max-height: 100%;
  padding: 10px;
  margin-bottom: 20px;
}

.selectedFiles h4 {
  margin-bottom: 10px;
}

.file {
  text-align: left;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.file p {
  font-size: 13px;
  color: rgb(139, 178, 234);
}

.deleteFile {
  height: 30px;
  padding: 1px 5px;
  border-radius: 10px;
  border: none;
  cursor: pointer;
  background-color: rgb(235, 79, 52);
  color: white;
  text-align: center;
}

@media screen and (max-width: 769px) {
  .fileInput {
    flex-direction: column;
    justify-content: unset;
  }

  .fileInputWrapper {
    flex-direction: column;
    width: 90%;
    height: 97%;
  }

  .left {
    width: 100%;
    height: auto;
    border-radius: 5px 5px 0px 0px;
    padding-bottom: 0px;
  }

  .left form {
    height: 100%;
    padding: 10px;
  }

  .selectedFiles {
    margin-bottom: 10px;
  }

  .right {
    margin: 0px;
    text-align: center;
  }
}

@media screen and (max-width: 426px) {
  .fileInput {
    margin-bottom: 20px;
  }

  .left {
    width: 100%;
  }

  .left form {
    height: 100%;
    padding: 10px;
  }

  .selectedFiles {
    margin-bottom: 10px;
  }
}
