.navbar {
  width: 270px;
  min-height: 100vh;
  color: #dfd5d5;
  background-color: #313131;
}

.navbar nav {
  margin-top: 100px;
}

.navList {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  list-style: none;
  padding-bottom: 10px;
  margin: 0 auto;
  gap: 20px;
}

.navList li {
  cursor: pointer;
  width: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  transition: 0.2s ease-in all;
}

.navList li p {
  width: 65%;
}

.navBtn {
  border: none;
  font-size: 15px;
}

.navList li:hover {
  color: white;
}

@media screen and (max-width: 769px) {
  .navbar {
    width: 200px;
  }

  .navList {
    width: 98%;
  }

  .navList li {
    width: 170px;
    display: flex;
    justify-content: space-evenly;
  }

  .navList li p {
    width: 130px;
  }
}

@media screen and (max-width: 426px) {
  .navbar {
    width: 100%;
    min-height: 100px;
  }

  .navbar nav {
    width: 100%;
    margin: 0px;
  }

  .navList {
    margin: 0 auto;
    padding: 10px 0px;
  }
}
