.warning {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  transition: all 10s ease;
}

.warning-wrapper {
  width: 50%;
  min-width: 400px;
  background-color: #f8b9be;
  padding: 10px 30px;
  color: #721c24;
  border: 1px solid transparent;
  border-color: #fd6b7c;
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  text-align: left;
}

.closeBtn {
  border: none;
  background-color: #f8b9be;
  cursor: pointer;
  color: black;
  font-size: 20px;
}

@media screen and (max-width: 678px) {
  .warning-wrapper {
    min-width: 90%;
  }
}
